<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test app{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="container">
			{% block body %}
				{{ render(controller('App\\Controller\\MenuController::menu')) }}
			{% endblock %}
		</div>
        {% block javascripts %}
			 <script src="{{ asset('build/app.js') }}"></script>
		{% endblock %}
    </body>
</html>